/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* body rules */
body {
    font-family: $fontFamily;
    font-weight: $regularWeight;
    font-size: 16px;
}



div#headerWrapper {background-color: $primaryColor;}

        header {padding: 0rem $gutter;
                padding: .5rem 1%;
                display: grid;
                grid-template-columns: 120px auto;


            h1 {
                margin: 1rem; 
                font-size: 2rem;
                font-weight: $heavyWeight;
                color: black;
            } //end of h1

            h2{
                margin: 1rem;
                color: black;
                font-size: 1.3rem; 
                font-weight: normal;
                font-weight: $regularWeight;
            } //end of h2

} //end of header




div#navWrapper {background-color: silver; width: 100%; float: left;}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: silver;
    color: #333;
}
nav ul li.active a {
    background-color: darken(gray, 40%);
    color: #fff;
}











div#mainWrapper {
    background-color: black;
}

    main {
    color: white;
    background-color: $secondaryColor;
    padding: 1rem $gutter;
    min-height: 10rem;

    picture.hero {
        width: 100%;
        margin-top: .5rem;
    }

    picture.owner {
        width: 50%;
        float: right;
        margin-left: 1rem;
    }

    img {
        grid-template-columns: 2;
        width: 100%;
        margin-top: .5rem;
    }

    h1 {
        margin: 0; padding-top: 1rem;
        color: white;
        font-weight: $heavyWeight;
    }

    figure {
    margin: 0;
    width: 100%;

    img {
        width: 100%;
        }

            }


}







div#footerWrapper {background-color: black; width: 100%}
footer {
    text-align: center;
    padding: 1rem $gutter;
    color: white;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}